.button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 10px;
}

.media-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    align-items: center;
    justify-items: center;

}