.button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 10px;
}

.media-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    align-items: center;
    justify-items: center;

}
#mediacards{
    
    -webkit-box-shadow: 0px 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

#content {
    padding-top: 100px;
    -webkit-box-shadow: 0px 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #348ea6;
  }

  .neon {
      padding-top: 100px;
      padding-left: 100px;
	display: inline;
	position: relative;
	font: 70px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: #348ea6; 
}
button{
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 8px 10px;
    color: white;
    border-radius: 6px;
    background-color: #044e63;
  }

  button:hover {
    background-color: #34a689;
    font-size: 15px;
    padding: 8px 10px;
  }