.form-check-label{
    padding: 20px;
}
ul{
    padding-top: 20px;
    list-style: none;
    padding-left: 0;
}
.title{
    text-align: center;
    font-size: large;

}
.card-header{
    background-color:  #373f47ff;
    color: white;
}
.card-body{
    border: 3px solid #34a37b;
}

.sidenav {
    width: 200px;
    height: 300px;
    position: relative;
    top: 12%;
    background: #328ca4;
    color: white;
    border: 0px solid #34a37b;
    font-size: medium;
  }
