.form-check-label{
    padding-left: 20px;
}
ul{
    list-style: none;
    padding-left: 0;
}
.title{
    text-align: center;
}
.card-header{
    background-color:  #373f47ff;
    color: white;
}
.card-body{
    border: 3px solid #34a37b;
}

