<div *ngIf="media">

    <div class="jumbotron jumbotron-fluid">
      <div class="jumbotron-container">
        <img class="col" style="height: 250px; width: 250px;" src="{{media.mediaUrl}}"/>
      </div>
    </div>

    <p>ID: {{media.mediaId}}</p>
    <h2>{{media.mediaName}}</h2>
    <h4>Composer: {{media.composer}}</h4>
    <div *ngIf="genre">
      <h5>Genre: {{genre.genreName}}</h5>
    </div>
    <h5>Rating: {{media.rating}}/10</h5>
    <p>{{media.description}}</p>

    <app-review-list></app-review-list>

</div>

<button (click)="goBack()">go back</button>
