<div *ngIf="media">

    <div class="jumbotron" style="margin-bottom: 0;">
      <div class="header-wrapper">
        <h1 class="neon" >
          {{media.mediaName}} 
        </h1>
      </div>
      
      <img src="{{media.mediaUrl}}" style="height: 250px; width: 250px;" alt="media-image">

      <hr class="my-4">
      <h2>Composer: {{media.composer}}</h2>
      <div>
        <div *ngIf="genre">
          <h3> Genre: {{genre.genreName}}</h3>
        </div>
        <h3> Rating: {{media.rating}}/10</h3>
      </div>
      <h4>{{media.description}}</h4>
    </div>

  

    <app-review-list></app-review-list>

</div>
