<div *ngIf="media">

    <div class="jumbotron">
      <h1 class="display-4">{{media.mediaName}}</h1>
      
      <img src="{{media.mediaUrl}}" alt="media-image">

      <hr class="my-4">
      <h2>Composer: {{media.composer}}</h2>
      <div>
        <div *ngIf="genre">
          <h3> Genre: {{genre.genreName}}</h3>
        </div>
        <h3> Rating: {{media.rating}}/10</h3>
      </div>
      <h4>{{media.description}}</h4>
    </div>

  

    <app-review-list></app-review-list>

</div>

<button (click)="goBack()">go back</button>
