ul{
    list-style: none;
}

.neon {
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: #348ea6; 
	margin-bottom: 10px;
}

button{
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #348ea6;
    margin: 5px 10px;
    color: white;
  }

  button:hover {
    background-color: #35a37c;
    font-size: 15px;
    padding: 8px 10px;
  }

.list-group-item {
    -webkit-box-shadow: 0px 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    margin-left: 20px; 
    margin-top: 10px;

}