
<div style="display: flex;">
    <h1 class="neon" style="margin-left: 20px;">REVIEWS</h1>
</div>
<ul *ngFor="let review of reviews" class="list-group">
    <li class="list-group-item">
        <h2 style="color: #348ea6;">{{review.content}} <span>{{review.rating}}/10</span></h2>
        <h4 style="color: gray;">{{review.reviewDate | date:'medium'}}</h4>
        <h4 style="color: gray;">Likes: {{review.likes}}</h4>
        <div class="button-wrapper" style="display: flex;" >
            <button class="go-button" (click)="Like(review.reviewId)">Like</button>
        
            <button class="go-button"  (click)="getComments(review.reviewId)">Comments</button>
        </div>
        <div *ngIf="comments && reviewId===review.reviewId">
            <ul *ngFor="let comment of comments" class="list-group">
                <li>
                    <h3 style="color: #348ea6;">{{comment.content}}</h3>
                    <h4 style="color: gray;">{{comment.date | date:'medium'}}</h4>
                </li>
            </ul>
            <button #commentButton (click)="commentToggle(commentButton)">+</button>
                <div *ngIf="commentFormShow">
                    <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment(review.reviewId)">
                        <div>
                            <textarea formControlName="content" rows="5" cols="50" placeholder="Comment"></textarea>
                        </div>
                        <div>
                            <input type="submit" [disabled]="!commentForm.valid" value="Post">
                        </div>
                    </form> 
                </div>
        </div>
    </li>
</ul>

<button #reviewButton (click)="reviewToggle(reviewButton)" style="margin-left:50px;">
    <svg width="6em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
</button>

<div *ngIf="reviewFormShow">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()" style="margin-left: 50px;">
        <div>
            <textarea formControlName="content" rows="5" cols="50" placeholder="Review"></textarea>
        </div>
        <div>
            <ngb-rating formControlName="rating" [(rate)]="currentRate"></ngb-rating>
            <span>{{currentRate}}</span>
        </div>
        <div>
            <input type="submit" [disabled]="!reviewForm.valid" value="Post">
        </div>
    </form> 
    
</div>
