<div *ngIf="selectedMedia">
    {{selectedMedia.mediaName}}
</div>
<h1>REVIEWS</h1>
<ul *ngFor="let review of reviews" class="list-group">
    <li class="list-group-item">
        <h2>{{review.content}} <span>{{review.rating}}/10</span></h2>
        <h4>{{review.reviewDate | date:'medium'}}</h4>
        <h4>Likes: {{review.likes}}</h4>
        <span><button (click)="Like(review.reviewId)">Like</button></span>
        <br>
        <button (click)="getComments(review.reviewId)">comments</button>
        <div *ngIf="comments && reviewId===review.reviewId">
            <ul *ngFor="let comment of comments" class="list-group">
                <li>
                    <h3>{{comment.content}}</h3>
                    <h4>{{comment.date | date:'medium'}}</h4>
                    <h4>Likes: {{comment.likes}}</h4>    
                </li>
            </ul>
            <button #commentButton (click)="commentToggle(commentButton)">+</button>
                <div *ngIf="commentFormShow">
                    <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment(review.reviewId)">
                        <div>
                            <textarea formControlName="content" rows="5" cols="50" placeholder="Comment"></textarea>
                        </div>
                        <div>
                            <input type="submit" [disabled]="!commentForm.valid" value="Post">
                        </div>
                    </form> 
                </div>
        </div>
    </li>
</ul>
<button #reviewButton (click)="reviewToggle(reviewButton)">+</button>
<div *ngIf="reviewFormShow">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
        <div>
            <textarea formControlName="content" rows="5" cols="50" placeholder="Review"></textarea>
        </div>
        <div>
            <ngb-rating formControlName="rating" [(rate)]="currentRate"></ngb-rating>
            <span>{{currentRate}}</span>
        </div>
        <div>
            <input type="submit" [disabled]="!reviewForm.valid" value="Post">
        </div>
    </form> 
    
</div>
