<!-- 
<input #myInput placeholder="Search" >
<button (click)="getMedia(myInput.value)">media</button> -->

<div *ngIf="searchMedia">
    {{searchMedia.mediaName}}
</div> 

<div class="search" *ngIf="getItem == 1">
    <input #myInput placeholder="Search genre" >
    <button (click)="getByGenre(myInput.value)">Submit</button>
</div>

<div class="search" *ngIf="getItem == 2">
    <input #myInput placeholder="Search rating" >
    <button (click)="getByRating(myInput.value)">Submit</button>
</div>

<div class="search" *ngIf="getItem == 3">
    <input #myInput placeholder="Search by number of Reviews" >
    <button (click)="getByReview(myInput.value)">Submit</button>
</div>

<div class="search" *ngIf="getItem == 4">
    <input #myInput placeholder="Search Composer">
    <button (click)="getByComposer(myInput.value)">Submit</button>
</div>

<div>
    <ul class="search" *ngFor="let media of mediaList">
        <li>
            <h2>{{media.mediaName}}</h2>
            <a routerLink="/media/{{media.mediaId}}" >
                <button> Details and Reviews
                </button>
            </a>
        </li>
    </ul>
</div>


<app-sidebar (filtered)="filter($event)"></app-sidebar>

<div>
    <h2 class="search"> Your Feed</h2>
    <ul *ngFor="let review of reviews">
        <li class="list-group-item">
            <h2>{{review.content}} <span>{{review.rating}}/10</span></h2>
        </li>
    </ul>
</div>
