::placeholder{
  font-size: small; 
}

.search{
  /* padding-left: 500px; */
  padding-top: 50px;
  text-align: center;
}

input{
  padding: 6px;
  background-color: white;
  border-color: darkgray;
  font-size: 17px;
  border-radius: 6px;
}

button{
  border-radius: 6px;
  border: none;
  margin-left: 6px;
  padding: 11px;
  background-color: #373f47ff;
  text-align: center;
  font-size: 16px;
  color: white;
  font-size: small;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }
  bgc2, .vLine, .hLine {
      background-color: #0F52BA;
  }
  
  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .services-icon {
      font-size: 60px;
      margin-left: 2rem;
  }

  