<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<!-- Navigation -->

<div class="wrapper fadeInDown" style="padding-bottom: 400px;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/thehublogo.png" id="icon" alt="the hub logo" />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input [(ngModel)]="username" type="text" id="login" class="fadeIn second" name="username" #un="ngModel" placeholder="Username" required>
      <div [hidden]="un.valid || un.pristine" class="alert alert-danger">
        username is required
      </div>
      <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="password" #pwd="ngModel" placeholder="Password" required>
      <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger">
        password is required
      </div>
      <input type="submit" [disabled]="!loginForm.valid" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" style="display: inline-block;">
	  <a class="underlineHover" routerLink="/register">Register Now!</a>
    </div>

  </div>
</div>
<div *ngIf="user">
  <h1>{{user.firstName}}</h1>
</div>
<div *ngIf="error">
  <p>{{error}}</p>
</div>

