<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<!-- Navigation -->

<div class="wrapper fadeInDown" style="padding-bottom: 250px;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/thehublogo.png" id="icon" alt="the hub logo" />
    </div>

    <!-- Login Form -->
      
      <input type="submit" *ngIf="!isAuthenticated" class="fadeIn fourth" value="Log In" (click)="login()">

      
    <!-- Remind Passowrd -->
    <div id="formFooter" style="display: inline-block;">
	  <a class="underlineHover" routerLink="/register">Register Now!</a>
    </div>

  </div>
</div>
<div *ngIf="user">
  <h1>{{user.firstName}}</h1>
</div>
<div *ngIf="error">
  <p>{{error}}</p>
</div>

