<body style="background-color:#348ea6;">
<div id="content" class="container emp-profile" *ngIf = 'user!=null'>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                    <img class="profile-img" *ngIf = 'user!=null' src="{{user.picture}}" alt="{{user.name}}">
                    
            </div>
            <div class="col-md-6" *ngIf = 'user!=null'>
                <div class="profile-head">
                <h1 class="neon" >
                                {{user.firstName}} {{user.lastName}} 
                            </h1>
                            <br>
                            <h4>Username: {{user.userName}}</h4>
                            <br>
                    <div>
                        <h2>About</h2> 
                        <hr>
                        <p style="font-size: 15px;">Bio: </p>  
                        <h4>
                            {{user.bio}}
                        </h4>
                        <br>
                        <p style="font-size: 15px;">Email: </p>  
                        <h4>
                            {{user.email}}
                        </h4>   
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p> {{user.firstName}}'s Info</p>
                    <a href="/followers">Followers</a><br/>
                    <a href="">Following</a><br/>
                    
                    <p>Involvment</p>
                    <a href="">Reviews</a><br/>
                    <a href="">Comments</a><br/>
                </div>
            </div>
        </div>
    </form>           
</div>
</body>