<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="margin-bottom: 0px;height: 115px;">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img class="navlogo" src="./assets/images/thehublogo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" style="font-size:18px;">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" style="font-size:18px">
          <a class="nav-link" routerLink="/media">Explore</a>
        </li>
        <li class="nav-item" style="font-size:18px">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item" style="font-size:18px">
          <a class="nav-link" *ngIf="!isAuthenticated" routerLink="/login" style="cursor: pointer;" >Login</a>
        </li>
        <li class="nav-item" style="font-size:18px">
          <a class="nav-link" *ngIf="isAuthenticated" value="Logout" style="cursor: pointer;" (click)="logout()" >Logout</a>
        </li>
        <div class="topnav nav-item" >
          
        <input #myInput class="nav-item" type="text" placeholder="Search..">
        </div>
        

        <button class="goButton" style="color: white;" (click)="getMedia(myInput.value)">
            Go 
        </button>

        <div *ngIf="searchMedia">
          <a class="topnav" style="color: white;" routerLink="/media/{{searchMedia.mediaId}}">
          </a>  
        </div>


      </ul>
    </div>
  </div>
</nav>